body{position: relative;}

#timer{
    position: absolute;
    font-size: 70px;
    top:20px;
    left:60px;
}


#start,#stop,#reset{
   background-color: #dcdcdc;
   border: 1px solid black;
   font-size: 15px;
   font-weight: bold;
}

#start{
    position: absolute;
    top:200px;
    left: 60px;
    width: 80px;
    height: 60px;
}

#stop{
    position: absolute;
    top:200px;
    left: 150px;
    width: 80px;
    height: 60px;
}

#reset{
    position: absolute;
    top:200px;
    left: 240px;
    width: 80px;
    height: 60px;
}